.score {
  position: fixed;
  right: 20px;
  top: 20px;
  background-color: var(--color-secondary);
  color: var(--color-white);
  padding:  4px;
  box-sizing: border-box;
  border-radius: var(--border-radius-default);
  box-shadow: 0 6px var(--color-secondary-shaded);
  width: 96px;
  text-align: center;
}

.score__label {
  margin: 0;
}