.your-controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  height: 200px;
  display: flex;
  justify-content: center;
}

.your-controls__selection {
  display: flex;
  flex-direction: column;
  gap: 32px;
}