.radios {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.radio {
  position: relative;
  color: var(--color-secondary);
  background: var(--color-white);
  border-radius: var(--border-radius-default);
  box-shadow: 0 6px var(--color-white-shaded);
  transform: translateY(250px);
}

.radio:hover {
	box-shadow: 0 8px var(--color-white-shaded);
	top: -2px;
}

.radio:active {
	box-shadow: 0 0 var(--color-white-shaded);
	top: 6px;
}

.radio__item {
  display: flex;
  align-self: center;
  gap: 8px;
  padding: 8px;
}

.radio__input {
  display: flex;
}

.radio__input input {
  opacity: 0;
  width: 0;
  height: 0;
}

.radio input:checked + .radio__control {
  background: radial-gradient(currentcolor 50%, rgba(255, 0, 0, 0) 51%);
}

.radio__control {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid currentColor;
  margin-top: 3px;
}
