.radios {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.radio {
  position: relative;
  display: inline-block;
  transform: translateY(250px);
	cursor: pointer;
  background: transparent;
  cursor: pointer;
  transition: filter 250ms;
  user-select: none;
}

.radio__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-white-shaded);
  border-radius: var(--border-radius-default);
}

.radio__item {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-default);
  color: var(--color-secondary);
  font-size: 18px;
  gap: 8px;
  background: var(--color-white);
  will-change: transform;
  padding: 8px;
  box-sizing: border-box;
  transform: translateY(-6px);
  transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.radio:hover {
  filter: brightness(110%);
}

.radio:hover .radio__item {
  transform: translateY(-8px);
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.radio:active .radio__item {
  transform: translateY(0px);
  transition: transform 34ms;
}

.radio input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio input:checked + .radio__control {
  background: radial-gradient(currentcolor 50%, rgba(255, 0, 0, 0) 51%);
}

.radio__control {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 3px solid currentColor;
}
